body {
	background-color: rgb(197,224,220);
	
}

h1 {
	font-size: 42px;
	font-family: Courier;
	color: 2A363B;
	text-align: center;

}

h2 {
	font-size: 26px;
	font-family: Courier;
	color: 2A363B;
	text-align: center;
	font-variant: italic;
}

p {
	font-size: 18px;
	color: 2A363B;
	font-family: Georgia;
	margin-right: 200px;
	margin-left: 200px;
}




.floatright {
float:right;
margin: 1.5%;
width: 50%;
}

.floatleft {
float:left;
margin: 1.5%;
width: 20%;
}

.center {
float:center;
margin: 1.5%;
width: 20%;
}

.photo{
	width: 100%;
	border: 1%;
}

.picture {
	width: 100%;
	border:1%;
}

.caption {
	width: 100%;
	text-align: left;
	font-size: 80%;
	color:2A363B;
}